.columns-container.speed-is-green .default-content-wrapper {
  color: green;
}

.columns-container .default-content-wrapper {
  margin: 0;
  padding-left: 5rem;
  color: red;
}



.columns > div {
  display: flex;
  flex-direction: column;
}

.speed-is-green .columns img {
  width: 100%;
}

.columns img {
  width: 60%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.speed-is-green .columns > div > .columns-img-col img {
  left: 0;
}

.columns > div > .columns-img-col img {
  display: block;
  left: 115px;
  position: relative;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
    font-size: 2.5rem;
  }
}
